<link href="./node_modules/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="./node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>


<div id="example-table"></div>

<script>
const table = new Tabulator("#example-table", {
  height:"311px",
  columns:[
  {title:"id", field:"_id"},
  {title:"name", field:"name"},
  {title:"address", field:"address"},
  ],
});

getData();

async function getData(){
 const res = await fetch("./productAPI");
 const data = await res.json();
 table.setData(data);
}

</script>
